{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h3>{{ title }}</h3>

{% if user.is_authenticated and form %}
<div class="form card border rounded shadow-sm mb-2">
    <div class="card-body ">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
</div>
{% endif %}

{% if user_info %}
<div class="user_info card border rounded shadow-sm mb-2">
    <div class="card-body">
        <h5 class="card-title">
            <a class="text-light">{{ user_info.username }}</a>
        </h5>
        <p>
            <strong>followers:</strong>{{ user_info.followers.all.count }},
            <strong>follows:</strong>{{ user_info.follows.all.count }}
        </p>
        {% if user.is_authenticated and user_info != user %}
        <form action="{% url 'followers_list' user_info.username %}" method="post">
            {% csrf_token %}
            {% if user in user_info.followers.all %}
            <button type="submit" class="btn btn-secondary">Unfollow</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Follow</button>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>
{% endif %}

{% for post in posts %}
<div class="post card border rounded shadow-sm mb-2">
    <div class="card-body">
        <h5 class="card-title">
            <a class="text-dark" href="{% url 'profile_page' post.owner.username %}">{{ post.owner.username }}</a>
        </h5>
        {% if post.owner == user %}
        <button type="button" class="edit btn btn-link p-0" id="edit{{ post.pk }}">Edit</button>
        {% endif %}
        <p class="card-text mb-0" style="white-space:pre-line;">{{ post.content }}</p>
        <p class="card-text"><small class="text-muted">{{ post.time }}</small></p>
        <div class="like btn btn-lg bg-transparent p-0" id="like{{ post.pk }}">
            <span>{% if post in user.post_like.all %}&#10084;{% else %}&#129293;{% endif %}</span>
            <span>{{ post.user_like.all.count }}</span>
        </div>
    </div>
</div>
{% empty %}
<hr>
<h5>...Empty...</h5>
{% endfor %}

<div class="pagination">
    {% if posts.has_previous %}
    <div class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
    </div>
    <div class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a>
    </div>
    {% endif %}

    <div class="page-item disabled">
        <a class="page-link ">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </a>
    </div>

    {% if posts.has_next %}
    <div class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">next</a>
    </div>
    <div class="page-item">
        <a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}